[submodule "desafio-conceitos-node"]
	path = desafio-conceitos-node
	url = https://github.com/nlnadialigia/desafio-conceitos-node.git
[submodule "desafio-conceitos-reactjs"]
	path = desafio-conceitos-reactjs
	url = https://github.com/nlnadialigia/desafio-conceitos-reactjs.git
[submodule "desafio-conceitos-react-native"]
	path = desafio-conceitos-react-native
	url = https://github.com/nlnadialigia/desafio-conceitos-react-native.git
[submodule "desafio-fundamentos-nodejs"]
	path = desafio-fundamentos-nodejs
	url = https://github.com/nlnadialigia/desafio-fundamentos-nodejs.git
