[submodule "desafio-conceitos-node"]
	path = desafio-conceitos-node
	url = https://github.com/nlnadialigia/desafio-conceitos-node.git
[submodule "desafio-conceitos-reactjs"]
	path = desafio-conceitos-reactjs
	url = https://github.com/nlnadialigia/desafio-conceitos-reactjs.git
[submodule "desafio-conceitos-react-native"]
	path = desafio-conceitos-react-native
	url = https://github.com/nlnadialigia/desafio-conceitos-react-native.git
[submodule "desafio-fundamentos-nodejs"]
	path = desafio-fundamentos-nodejs
	url = https://github.com/nlnadialigia/desafio-fundamentos-nodejs.git
[submodule "desafio-database-upload"]
	path = desafio-database-upload
	url = https://github.com/nlnadialigia/desafio-database-upload.git
[submodule "desafio-fundamentos-reactjs"]
	path = desafio-fundamentos-reactjs
	url = https://github.com/nlnadialigia/desafio-fundamentos-reactjs.git
[submodule "desafio-fundamentos-react-native"]
	path = desafio-fundamentos-react-native
	url = https://github.com/nlnadialigia/desafio-fundamentos-react-native.git
[submodule "desafio-typeorm-relations"]
	path = desafio-typeorm-relations
	url = https://github.com/nlnadialigia/desafio-typeorm-relations.git
[submodule "desafio-reactjs-crud"]
	path = desafio-reactjs-crud
	url = https://github.com/nlnadialigia/desafio-reactjs-crud.git
[submodule "desafio-react-native-delivery"]
	path = desafio-react-native-delivery
	url = https://github.com/nlnadialigia/desafio-react-native-delivery.git
